# Object files
*.o
*.ko
*.obj
*.elf
*.dep
*.crf
*.d

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64s

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Temporary files
*.TMP

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# cscope with Vim
cscope.*

#ctags with Vim
tags
types_c.taghl

#CtrlP
ctrlp.root

#html
*.html

# Eclipse
.metadata
.settings
[Rr]elease
[Dd]ebug
.launch

*.uvguix.*
*.swp
*.htm
*.axf

*.map

cmake-build-*
*.sublime-*
.idea
*.tmp
*.vscode
*.DS_Store
*.pyc

build/
.cache/

# doc files
~$scussionWS.docx
